button {
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #e0e0e0;
  font-size: 1.5rem;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:active {
  background-color: #ccc;
}

.operator {
  background-color: #ff9500;
  color: white;
}

.operator:active {
  background-color: #e08400;
}

.equals {
  grid-column: span 2;
  background-color: #ff9500;
  color: white;
}

.equals:active {
  background-color: #e08400;
}

.clear {
  background-color: #f24c4c;
  color: white;
}

.clear:active {
  background-color: #d43f3f;
}


.calculatorKeys{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

